body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #fff8e5;
    margin: 0rem;
    overflow: hidden;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: black;
    padding: 0rem clamp(0.4rem, 0.75vw, 1rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

h1:hover {
    background-color: white;
    color: black;
}